@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
}


header {
    width: 100%;
    height: 50px;
    background:	#000000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
}

header .contenedor {
    display: table;
}

@media (min-width:768px){
    .sociales{
        width: auto;
        
    }
    footer .contenedor{
        justify-content: space-around;
    }
}

@media (min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
}


#menu-bar {
    display: none;
}



.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu a:hover {
    background: rgba(255,255,255,0.3);
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    
    .menu a {
        border: none;
    }
    
    header label { 
        display: none;
    }
}
section {
    width: 100%;
    margin-bottom: 25px;
}


#slider {
    margin-top: 40px;
    position: relative;
}
#slider{
         width: 1450px;
		height:400px;
		background-image: url(../images/agenda.jpg);
		background-size:cover;
	   }


#slider .contenedor {
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translateX(-50%) translateY(-50%);
    color:black;
}
#slider h2 {
    font-size:55px;
}

#blog .contenedo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin:60px;
}

#blog img {
    width: -350px;
    max-width:340px;
}


