body{
		background-image:;
		background-repeat:no-repeat;
		background-size: 100% 720px;
		background-attachment:fixed;
  		}
		

		.container {
        max-width:550px;
        height:450px;
		text-align:center;
		background-color: rgba(52, 73, 94, 0.7);
		border-radius: 4px;
        padding: 10px 20px;
        border-radius: 8px;
		margin:0 auto;
		margin-top:150px;
	  
     }
	 .container img{
	  width: 400px;
	  height: 400px;
	  margin-top: -168px;
	 margin-bottom: -130px;
	 
	 }
	 
	input[type="email"],input[type="password"],input[type="nombre"]{
	  height: 40px;
	  width: 250px;
	  font-size: 20px;
	  border-radius:4px;
	  border: none;
	  margin-bottom: 5px;
	  background-color: #fff;
	  padding-left: 35px;
	  text-align:center;
}
.btn-login{
	  padding: 15px 30px;
	  color: #fff;
	  background-color: #2ecc71;
	  border: none;
	  border-radius: 4px;
	  border-bottom: 2px solid;
	  
}
.button submit{
  padding: 20px 30px 18px 30px;
 color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
   text-align: center;
  font-style: normal;
  width: 95%;
   border: 1px solid #3ac162;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
	
}
