@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
   margin:auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}


header {
    width: 100%;
    height: 50px;
    background:	#000000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
}

header .contenedor {
    display: table;
}

@media (min-width:768px){
    .sociales{
        width: auto;
        
    }
    footer .contenedor{
        justify-content: space-around;
    }
}

@media (min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
}


#menu-bar {
    display: none;
}



.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu a:hover {
    background: rgba(255,255,255,0.3);
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    
    .menu a {
        border: none;
    }
    
    header label { 
        display: none;
    }
}




#slider {
    margin-top: 50px;
    position: relative;
}
#slider{
         width: 900px;
		height:500px;
		background-image: url(../images/tipo.jpg);
		background-size:cover;
	   }


#slider .contenedor {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}



       
			#content{
				width:990px;
				background:#fff;
				overflow:hidden;
				padding:20px;
				border-top:solid 10px #dbc8b4;
				box-shadow:0 4px 20px 0 #888888;
			}
			
			.box-product{
				width:220px;
				float:left;
				text-align:left; 
				margin:10px;
				overflow:hidden;
			}
			
			.box-product h2{
				font-size:30px;
				color:;
				font-style:arial;
				text-transform:arial;
			}
			.box-product img{
				width:100%;
				margin:20px 0;
			}
			.box-product p{
				font-size:13px;
				color:#7f533d;
			}
			.box-product a{
				float:left;
				padding:10px;
				background:#f4f2f0;
				border:solid 1px #d2bea9;
				text-decoration:none;
				color:#7f533d;
				margin-top:15px;
				border-radius:5px;
			}
			.box-product h3{
				color:#7f533d;
				font-size:20px;
				text-transform:uppercase;
				margin-bottom:20px;
				font-style:italic;
			}
			.box-product ul{
				font-size:12px;
				padding-left:15px;
			}
			.box-product li{
				padding-left:0;
				color:red;
			}
			.line{
				width:950px;
				height:45px;
				border-bottom:solid 1px #e4e7ea;
				margin-bottom:40px;
				clear:both;
			}
			footer{
				width:1000px;
				height:80px;
				text-align:center;
				color:#7f533d;
				font-size:15px;
				line-height:50px;
			}
			aside{
				float:right;
				width:400px;
				overflow:hidden;
			}
			aside h3{
				color:#7f533d;
				font-size:20px;
				text-transform:uppercase;
				margin-bottom:20px; 
			}
			
			
			
         



        

