body
    background-color #f5f6fa
    font-size 14px;
    font-family: 'Roboto', sans-serif;

h1,h2,h4,h5,ul,body
    padding 0px
    margin 0px
.mtop16
    margin-top 16px
.wrapper
    min-height 100vh
    overflow hidden
    .col1
        float left
        position relative
        z-index 1000
        width 20%
    .col2
        float left
        width 80%

.sidebar
    background-color #fff
    min-height 100vh
    .section-top
        background-color #2caaff
        box-shadow 0 0.5rem 1rem rbga(0, 0, 0, 0.15)
    .logo
        display block
        margin 0px auto
        padding-top 24px
        width 45%
    .user
        color #fff !important
        padding 16px
        a
            color #fff
            font-size 1.3em
    .main
        display block
        margin-top 8px
        ul
            li
                margin-bottom 4px
                a
                    color #8998ac !important
                    display block
                    font-size 1.1em
                    padding 12px 12px
                    i
                        margin-right 10px
                    &:hover
                        background-color #2caaff
                        box-shadow 0 0.5rem 1rem rbga(0, 0, 0, 0.15)
                        color #fff !important
                        text-decoration none
                a.active
                    background-color #2caaff
                    box-shadow 0 0.5rem 1rem rbga(0, 0, 0, 0.15)
                    color #fff !important
                    text-decoration none

.navbar
    background-color #2caaff !important
    a
        color #fff !important

.page
    padding-top 16px
    padding-bottom 16px
    .breadcrumb
        background-color #fff
        box-shadow 0 0.5rem 1rem rbga(0, 0, 0, 0.10)!important
        .breadcrumb-item
            a
                &:hover
                    text-decoration none !important

    .panel
        background-color #fff
        border-radius 8px
        border-bottom 2px solid #2caaff
        width 100%
        .header
            border-bottom 2px solid #e8e8e8
            h2.title
                display inline-block
                color #19213d
                font-size 1.1em
                padding 12px 20px
            ul
                display inline-block
                float right
                margin-right 12px
                li
                    display inline-block
                    position relative
                    a
                        color #333
                        display inline-block
                        padding  11px
                        &:hover
                            background-color #f6f6f6
                            color #333
                            text-decoration none
                        i
                            color #2caaff
                    ul
                        background-color #ffffff
                        border 1px solid #f0f0f0
                        display none
                        float none
                        position absolute
                        right -16px
                        width 200px
                        li
                            display inline-block
                            border-bottom 1px solid #f0f0f0
                            width 100%
                            &:last-child
                                border-bottom 0px
                            a
                                display block
                                width value
                    &:hover
                        ul
                            display block

        .inside
            padding 16px
            .nav
                .nav-link
                    border 1px solid #2caaff
                    margin-right 10px
                    &:hover
                        background-color #2caaff
                        color #fff
            .form_search
                display none
                margin-bottom 16px
                .btn
                    width 100%
            .big_count
                display block
                font-size 2.5em
                text-align center
                width 100%

.opts
    a
        border-radius 4px
        border 1px solid #dedede
        display inline-block
        padding 8px 12px

.product_gallery
    overflow hidden
    .btn-submit
        display block
        margin-right 1%
        width: 100%
        a
            border 1px dashed #046C7A
            border-radius 4px
            color #333
            display block
            font-size 1.5em
            text-align center
            padding 12px
            width 100%
            &:hover
                background-color #2caaff
                color #fff
    .tums
        overflow hidden
        margin-top 16px
        .tumb
            float left
            position relative
            width 48%
            a
                background-color rgba(0,0,0, .5)
                border-radius 50%
                display inline-block
                color #ffffff
                padding 6px 10px
                position absolute
                bottom 8px
                right 8px
            img
                border-radius 4px
                width 100%
            &:nth-child(odd)
                margin-right 4%

.page_user
    .mini_profile
        .avatar
            display block
            margin 0px auto
            boder-radius 50%
            width 130px
        .info
            background-color #ffffff
            span
                display block
                font-size 1.1em
                width 100%
            span.title
                font-weight bold
                margin-top 16px
        .btn
            margin-top 16px
            width 100%


