body
    background-color #F5EFED
    font-size 14px
    margin 0px

.mtop16
    margin-top 16px
.box
    background-color #fff
    border-radius 8px
    border 1px solid #d6d6d6
    position absolute
    width 500px
    .btn-success
        background-color #55B0EA
        border 0px
        width 100%
    .form-control
        &:focus
        &:active
            autline none
            box-shadow none
.inside
    padding 16px
.header
    background-color #E89042
    border-radius 8px 8px 0px 0px
    padding 16px
    a
        img
            display block
            margin 0px auto
            width 20%
.footer
    text-align center
    a
        display inline-block
        font-size .8em
        &:last-child
            margin-left 24px
.box_login
    left calc(50% - 250px)
    top calc(50% - 196px)

.box_register
    left calc(50% - 250px)
    top calc(50% - 323px)
